* {
	background-color: #00FFFF;
}
h1 {
	font-style: bold;
	font-size: 30px;
	color: #ffaeb9;
}
table, th, td {
	border: 1px solid black;
	text-align: center;
}
th {
	background-color: #ff1493;
}
td {
	background-color: #ffb6c1;
}
